* {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
    background-color: black;
    color: white;
}

header {
    padding: 0.6% 0;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.middlePart {
    display: flex;
    width: 40%;
    justify-content: space-around;
}

.middlePart .headder_img {
    display: none;
}

a {
    text-decoration: none;
}

main {
    padding-top: 2%;
    max-width: 1440px;
    margin: 0 auto;
}

article {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 100%;
}

.general_st {
    display: flex;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    flex-direction: nowrap;
    overflow-x: scroll;
    margin-bottom: 30px;
}

.first-content {
    display: flex;
    position: inherit;
}

.first {
    width: 225px;
    margin: 0 0.3% 0 0;
}

.firstV {
    width: 400px;
    margin: 0 0.3% 0 0;
}